#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

#main-title {
  text-align: center;
}

.card {
  padding: 1em;
}

.infobox {
  color: #888;
}

#app-container {
  display: flex;
  flex-direction: row;
}

#main-panel {
  margin-left: 1rem;
  flex: 1;
}

#sidebar ul {
  display: flex;
  flex-direction: column;
}
